<% content_for :head do %>
  <%= stylesheet_link_tag    "sevenpages/codemirror_include" %>
<% end %>

<% content_for :last do %>
  <%= javascript_include_tag 'sevenpages/codemirror_include' %>
<% end %>

<%= form_page_header('page') %>

<%= error_messages_for(@page) %>

<%= form_for @page do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true %>
  <%= f.label :slug %>
  <%= f.text_field :slug %>
  <%= f.label :content %>
  <%= f.text_area :content, id: 'code' %>
  <label>
    <%= f.check_box :published %> Published
  </label>
  <%= f.submit nil, class: 'button submit-button' %> or <%= link_to 'Cancel', pages_path %>
<% end %>