<%= form_page_header('page') %>

<%= error_messages_for(@page) %>

<%= form_for @page do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :slug %>
  <%= f.text_field :slug %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <label>
    <%= f.check_box :published %> Published
  </label>
  <%= f.submit nil, class: 'button submit-button' %> or <%= link_to 'Cancel', pages_path %>
<% end %>