<h2>Pages</h2>

<p><%= link_to "Add a Page", new_page_path, class: 'button add-button' %></p>

<div class="pages">
  <table class="pages-table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Published?</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <%= content_tag_for(:tr, @pages) do |page| %>
      <td><%= page.title %></td>
      <td><%= page.slug %></td>
      <td><%= published_status(page) %></td>
      <td class="tools">
        <%= link_to "Edit", edit_page_path(page), class: 'edit' %> |
        <%= link_to "CM", content_edit_page_path(page) %> |
        <%= link_to "Delete", page_path(page), method: :delete,
                    confirm: %{Are you sure you want to delete the page "#{page.title}"?} %>
      </td>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @pages %>