<%= form_page_header('Media File') %>

<%= error_messages_for @media_file %>

<%= form_for @media_file, multipart: true do |f| %>
  <%= f.label :source %>
  <%= f.file_field :source  %>

  <p><%= image_tag(@media_file.source_url) if @media_file.source? %></p>

  <p>
    <%= f.submit nil, class: 'button submit-button' %> or <%= link_to 'Cancel', media_files_path %>
  </p>
<% end %>