<h2>Media Files</h2>

<p><%= link_to "Add a Media File", new_media_file_path, class: 'button add-button' %></p>

<div class="media_files">
  <table class="media_files_table">
    <thead>
    <tr>
      <td>Image</td>
      <td>Title</td>
      <td>Shortcode</td>
      <td>&nbsp;</td>
    </tr>
    </thead>
    <tbody>
    <%= content_tag_for(:tr, @media_files) do |media_file| %>
      <tr>
        <td><%= image_tag media_file.source.thumb.url  %></td>
        <td><%= media_file.title %></td>
        <td><pre>{{ image "<%= media_file.title  %>" }}</pre></td>
        <td>
          <%= link_to 'edit', edit_media_file_path(media_file) %> |
          <%= link_to 'delete', media_file_path(media_file), method: :delete,
                      confirm: 'Are you sure you want to delete this image?' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @media_files %>
