<%= form_page_header('Content') %>

<%= error_messages_for @content_block %>

<%= form_for @content_block do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true %>

  <%= f.label :content %>
  <%= f.text_area :content, class: 'editor'  %>

  <p>
    <%= f.submit nil, class: 'button submit-button' %> or <%= link_to 'Cancel', content_blocks_path %>
  </p>
<% end %>