<h2>Content</h2>

<p><%= link_to "Add Content", new_content_block_path, class: 'button add-button' %></p>

<div class="content_blocks">
  <table class="content_blocks_table">
    <thead>
    <tr>
      <td>Title</td>
      <td>&nbsp;</td>
    </tr>
    </thead>
    <tbody>
    <%= content_tag_for(:tr, @content_blocks) do |content_block| %>
      <tr>
        <td><%= content_block.title %></td>
        <td>
          <%= link_to 'Edit', edit_content_block_path(content_block) %> |
          <%= link_to 'Delete', content_block_path(content_block), method: :delete,
                      confirm: 'Are you sure you want to delete this content?' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @content_blocks %>
